{% load static %}

<footer class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pb-5">
                <h3 class="text-uppercase text-light">About Us</h3>
                <hr class="hr">
                <p class="justify-text-center text-light">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, unde provident tempore dicta architecto optio iusto fugiat quidem quam placeat.
                </p>
                <div class="">
                    <span>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f text-light mr-md-2"></i></a>
                    </span>
                    <span>
                        <a href="https://twitter.com/"><i class="fab fa-twitter text-light mr-md-2"></i></a>
                    </span>
                    <span>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram text-light mr-md-2"></i></a>
                    </span>
                    <span>
                        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin text-light mr-md-2"></i></a>
                    </span>
                </div>
            </div>
            <div class="col-md-4 pb-5">
                <h3 class="text-uppercase text-light">Address</h3>  
                <hr class="hr-address">
                <div class="d-flex">
                    <i class="text-light fa fa-map-marker pr-3 py-2 my-auto"></i><p class="text-light my-auto">Lorem ipsum dolor sit amet</p>
                </div>
                <div class="d-flex">
                    <i class="text-light fa fa-mobile pr-3 py-2 my-auto"></i><p class="text-light my-auto">01234567890</p>
                </div>
                <div class="d-flex">
                    <i class="text-light fa fa-envelope pr-3 py-2 my-auto"></i><p class="text-light my-auto">example@email.com</p>
                </div>  
            </div>  
            <div class="col-md-4">
                <h3 class="text-uppercase text-light">Contact</h3>
                <hr class="hr-contact">  
                <input type="text" class="form-control my-2" placeholder="Your Email" required>
                <textarea class="form-control my-2" placeholder="Your Message"name="msg" id="message" rows="2" required></textarea>
                <div class="text-center my-3">
                    <a href="#" class="btn btn-primary btn-block text-light">SEND US</a>
                </div>
            </div>             
        </div>
    </div>
    <div class="container">
        <div class="row border-top">
            <div class="col-md-12 text-light fw-bold py-3">
               <p class="text-center font-weight-bold">CopyRight: © All rights are preserved to <a href="http://devpnewaz.epizy.com">DevNewaz</a> & Riaz</p> 
            </div>
        </div>
    </div>
</footer>

