{% extends 'index.html' %}
{% load static %}
{% block title %}
    CHILEKOTHA | Reset Password
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center my-5">Change Your Password <span class="text-danger">{{request.user}}</span></h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body">
                <h3 class="text-center">Account Setting</h3>
                <img class="img-fluid my-3 profile-pic" src="{{request.user.customer.img.url}}" alt="">
                <a class="btn btn-primary" href="{% url 'Profile' %}">Back To Profile</a>
                <hr>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary" type="submit">SUMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}